.collection .container {
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
}

.collection .container h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.collection .container .first_line {
  background: #ef5b70;
  height: 3px;
  width: 63px;
  margin: 12px;
}

.collection .container h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}

.collection .container p {
  width: 555px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  margin-top: 48px;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .collection .container p {
    width: 444px;
  }
}

@media (max-width: 576px) {
  .collection .container p {
    width: 326px;
  }
}

.collection .container .collection__price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

.collection .container .second_line {
  width: 100%;
  height: 1px;
  background: #eaeaea;
  margin: 64px;
}

.collection .container .collection__settings {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.collection .container .collection__settings a {
  color: #6f6e6e;
}

.collection .container .collection__settings a:not(:last-child) {
  margin-right: 23px;
}

.collection .container a {
  text-decoration: none;
}

.collection .container .btnAddToCard {
  border: 1px solid #ff6a6a;
  background: #fff;
  display: flex;
  align-items: center;
  margin-top: 48px;
  padding: 15px 24px;
  color: #f26376;
  cursor: pointer;
}

.product_cards {
  margin-top: 128px;
}

.product_cards .container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.product_cards .container .product_card {
  background: #f8f8f8;
}

.product_cards .container .product_card img {
  width: 100%;
  margin-bottom: 25px;
}

.product_cards .container .product_card .product_card__header {
  font-weight: 400;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 12px;
}

.product_cards .container .product_card .product_card__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.product_cards .container .product_card .product_card__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-top: 18px;
  margin-bottom: 20px;
}

.product_cards .container .product_card .product_card__header,
.product_cards .container .product_card .product_card__text,
.product_cards .container .product_card .product_card__price {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .product_cards .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .product_cards .container .product_card:last-child {
    display: none;
  }
}

@media (max-width: 576px) {
  .product_cards .container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=product.css.map */
